/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

body {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 1rem;
  color: #4d4d4d;
}

h1.logo__title {
  font-family: "Shrikhand", serif;
  font-size: 1.8rem;
  color: black;
  text-align: center;
  padding-top: 10px;
}

div.menu__title h1 {
  font-family: "Shrikhand", serif;
  font-size: 1.8rem;
  color: black;
}

main.main h2 {
  font-family: "Roboto", Helvetica, sans-serif;
  color: black;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 10px 10px 10px 10px;
}

@media screen and (min-width: 767px) {
  main.main h2 {
    text-align: center;
  }
}

.section__title h2 {
  text-transform: uppercase;
}

h3 {
  font-family: "Roboto", Helvetica, sans-serif;
  color: black;
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.menu__card h3 {
  font-family: "Roboto", Helvetica, sans-serif;
  color: black;
  font-weight: 700;
  font-size: 1.1rem;
}

div.container {
  height: 100vh;
  margin: auto;
}

.header {
  position: fixed;
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
  width: 100%;
  padding: 5px;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header__return {
  padding-top: 10px;
  position: absolute;
  left: 0;
}

.header__return a {
  font-size: 1.3rem;
  color: black;
  margin-left: 20px;
}

@media screen and (min-width: 1280px) {
  .header__return {
    display: none;
  }
}

.footer {
  background-color: #373737;
  padding: 20px 10px 20px 10px;
}

.footer__title h4 {
  font-family: "Shrikhand", serif;
  color: #fff;
  font-size: 1.2rem;
  margin: 10px;
}

@media screen and (min-width: 767px) {
  .footer__title h4 {
    text-align: center;
  }
}

.footer__list {
  list-style-type: none;
  margin: 10px;
}

.footer__list li {
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer__list li a {
  text-decoration: none;
  color: #fff;
  font-family: "Roboto", Helvetica, sans-serif;
}

.footer__list li i {
  width: 30px;
  padding-right: 30px;
}

@media screen and (min-width: 767px) {
  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 90%;
  }
}

@media screen and (min-width: 1280px) {
  .footer__list {
    width: 70%;
  }
}

@media screen and (min-width: 767px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.btn {
  position: relative;
  display: block;
  text-decoration: none;
  width: 230px;
  height: 50px;
  border-radius: 50px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 15px 0 20px 0;
  font-weight: 700;
  color: #fff;
  font-size: 1rem;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

.btn:hover {
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.btn:hover::after {
  opacity: 0.2;
}

.btn::after {
  content: "";
  position: absolute;
  width: 230px;
  height: 50px;
  border-radius: 50px;
  background-color: #fff;
  opacity: 0;
}

.checkbox__heart {
  position: relative;
  margin-bottom: 6px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.checkbox__heart input[type="checkbox"] {
  display: none;
}

.checkbox__heart input[type="checkbox"]:checked ~ .checkbox__heart--checked {
  display: block;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.checkbox__heart--unchecked {
  font-size: 1.8rem;
  position: absolute;
  top: 0;
  left: 0;
  color: #4d4d4d;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.checkbox__heart--unchecked:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.checkbox__heart--unchecked:hover::after {
  opacity: 1;
}

.checkbox__heart--unchecked::after {
  content: "\f004";
  font-size: 1.8rem;
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;
  display: block;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  opacity: 0;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.checkbox__heart--checked {
  font-size: 1.8rem;
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;
  display: block;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 1;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

div.steps__card {
  position: relative;
  background-color: #f6f6f6;
  border-radius: 20px;
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 95%;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
}

div.steps__card:hover {
  background-color: rgba(147, 86, 220, 0.2);
  color: #9356DC;
}

@media screen and (min-width: 767px) {
  div.steps__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 32%;
  }
}

div.steps__card--number {
  position: absolute;
  left: -6%;
  margin-left: 3%;
  background-color: #9356DC;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #fff;
  font-weight: 300;
  font-size: .8rem;
}

@media screen and (min-width: 767px) {
  div.steps__card--number {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: -20%;
  }
}

div.steps__card--body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-weight: 700;
  padding: 25px;
}

@media screen and (min-width: 767px) {
  div.steps__card--body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 25px 20px;
  }
}

div.steps__card--body i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 50px;
  font-size: 1.2rem;
}

@media screen and (min-width: 767px) {
  div.steps__card--body i {
    width: 20px;
  }
}

div.steps__card--body p {
  padding-left: 7%;
  color: #4d4d4d;
}

.restaurant__card {
  position: relative;
  width: 100%;
  border-radius: 20px;
  margin: 10px 0;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.restaurant__card a {
  text-decoration: none;
  color: #4d4d4d;
}

.restaurant__card--new {
  background-color: #99E2D0;
  color: #1b6150;
  font-weight: 700;
  font-size: .9rem;
  border-radius: 3px;
  padding: 6px 10px;
  position: absolute;
  right: 4%;
  top: 6%;
  z-index: 1;
}

.restaurant__card--img {
  border-radius: 15px 15px 0 0;
  position: relative;
  overflow: hidden;
  height: 190px;
}

.restaurant__card--img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.restaurant__card--body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 15px;
  border-radius: 0 0 15px 15px;
  background-color: #fff;
}

.restaurant__card--bodyText p {
  font-size: 1.1rem;
  font-weight: 300;
}

.menu__card {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  margin: 10px 0;
  cursor: pointer;
}

.menu__card input[type="checkbox"] {
  display: none;
}

.menu__card input[type="checkbox"]:checked ~ .menu__card--select {
  width: 25%;
}

.menu__card input[type="checkbox"]:checked ~ .menu__card--select .selected {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.menu__card--body {
  width: 75%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 12px 0 12px 12px;
  margin-right: 5px;
  overflow: hidden;
}

.menu__card--body p, .menu__card--body h3 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.menu__card--price {
  padding: 12px;
  font-weight: 700;
  margin: 0px 5px 0px 5px;
}

.menu__card--select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 0;
  height: 69px;
  background-color: #99E2D0;
  -webkit-transition: width 400ms ease-in-out;
  transition: width 400ms ease-in-out;
}

.menu__card--select .selected {
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-transition: -webkit-transform 400ms ease-in-out 50ms;
  transition: -webkit-transform 400ms ease-in-out 50ms;
  transition: transform 400ms ease-in-out 50ms;
  transition: transform 400ms ease-in-out 50ms, -webkit-transform 400ms ease-in-out 50ms;
}

section.location {
  width: 100%;
  margin-top: 60px;
  padding: 15px;
  background-color: #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.6);
          box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.6);
}

section.location p, section.location i {
  font-weight: 700;
  font-size: 1rem;
  color: #353535;
  padding-right: 20px;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f6f6f6;
  padding: 30px 10px 30px 10px;
  text-align: center;
}

.intro__content {
  font-weight: 300;
  margin: 15px 10px;
}

section.fonctionnement {
  background-color: #fff;
  padding: 30px 10px 30px 10px;
}

section.fonctionnement div.steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px 10px;
}

@media screen and (min-width: 767px) {
  section.fonctionnement div.steps {
    max-width: 992px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1280px) {
  section.fonctionnement div.steps {
    max-width: 1280px;
    margin: auto;
    margin-top: 30px;
  }
}

article.article1 {
  background-color: #f6f6f6;
  padding: 30px 10px 30px 10px;
}

article.article1 div.restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px 10px;
}

@media screen and (min-width: 767px) {
  article.article1 div.restaurants {
    width: 95%;
    max-width: 992px;
    margin: auto;
    margin-top: 30px;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
}

@media screen and (min-width: 1280px) {
  article.article1 div.restaurants {
    max-width: 1280px;
    margin: auto;
    margin-top: 30px;
  }
}

div.menu__content {
  background-color: #f6f6f6;
  padding: 30px 10px 30px 10px;
  border-radius: 35px 35px 0 0;
}

@media screen and (min-width: 767px) {
  div.menu__content--sections {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 992px;
    margin: auto;
  }
}

@media screen and (min-width: 1280px) {
  div.menu__content--sections {
    max-width: 1280px;
    margin: auto;
  }
}

.menu__img {
  position: relative;
  width: 100%;
  height: 280px;
  z-index: -1;
}

.menu__img img {
  -o-object-fit: cover;
     object-fit: cover;
  position: fixed;
  height: 350px;
  width: 100%;
}

div.menu__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 10px 15px 10px 15px;
}

@media screen and (min-width: 767px) {
  div.menu__title {
    max-width: 992px;
    margin: auto;
    width: 97%;
  }
}

@media screen and (min-width: 1280px) {
  div.menu__title {
    max-width: 1280px;
    margin: auto;
  }
}

section.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 10px;
}

@media screen and (min-width: 767px) {
  section.section {
    width: 50%;
  }
}

@media screen and (min-width: 1280px) {
  section.section {
    width: 33%;
  }
}

.section__title {
  margin-bottom: 5px;
}

.section__title h2 {
  margin-bottom: 5px;
}

.section__title--underline {
  background-color: #99E2D0;
  width: 40px;
  height: 3px;
}

section.bloc__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
/*# sourceMappingURL=main.css.map */