.header {
    position: fixed;
    background-color: $white;
    box-shadow: $shadow;
    z-index: 2;
    width: 100%;
    padding: 5px;
    top: 0;
    @include flex (center, center,row);

    
    &__return {
        padding-top: 10px;
        position: absolute;
        left: 0;

        a {
            font-size: 1.3rem;
            color: black;
            margin-left: 20px;
        }

        @include desktop-screen {
            display: none;
        }
    }

    

}






