// Bouton principal

.btn {

    position: relative;
    text-decoration: none;
    @include btn__shape;
    box-shadow: $shadow;
    background: $color-gradient;
    @include flex;
    margin: 15px 0 20px 0;
    font-weight: $bold;
    color: $white;
    font-size: 1rem;
    transition: all 200ms ease-out;

    &:hover {

        box-shadow: 5px 5px 5px rgba($color: black, $alpha: 0.4);

        &::after {
            opacity: 0.1;
        }

    } // Anime l'opacité du pseudo-élément after et modifie l'ombre portée

    &::after {
        content: "";
        position: absolute;
        @include btn__shape;
        background-color: $white; 
        opacity: 0;
    }

}

// Bouton coeur

.checkbox__heart {

    position: absolute;
    right: 0;
    bottom: 0;
    margin: 15px;
    width: 30px;
    height: 30px;
    cursor: pointer;

    &--menu {
        margin: 0 15px 5px 0;
    }

    // Animation du coeur au clique

    input[type="checkbox"] {
        display:none;
    }
      
    input[type="checkbox"]:checked~.checkbox__heart--checked {
        display: block;
        transform: scale(1.1);
    }

    &--unchecked {

        @include heart($color-txt);
        transition: transform 200ms linear;
        
        &:hover {

          transform: scale(1.1);

          &::after {
            opacity: 1;
          }

        }
        
        &::after {
          content: "\f004";
          @include heart__gradient;
          opacity: 0;
          transform: scale(1);
          transition: transform 200ms linear;
        } // Bordure du coeur en dégradé
    }

    &--checked {
        @include heart__gradient;
        transform: scale(0);
        opacity: 1;
        transition: transform 300ms ease-out;
    }

}
  
  






