
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$sans-serif: 'Roboto', Helvetica, sans-serif;
$serif: 'Shrikhand', serif; 

$light: 300;
$normal: 400;
$bold: 700;


body {
    font-family: $sans-serif;
    font-size: 1rem;
    color: $color-txt;
}

h1.logo__title {
    @include main_title;
    text-align: center;
    padding-top: 10px;
}

div.menu__title h1 {
    @include main_title;
}

main.main h2 {
    @include second_title(1.5rem);
    margin: 10px 10px 10px 10px;

    @include tablet-screen {
        text-align: center;
     }
}

.section__title h2 {
    text-transform: uppercase;
}

h3 {
    @include second_title(1.2rem);
    margin-bottom: 5px;
}

.menu__card h3 {
    @include second_title(1.1rem);
}


