
.intro {
    @include flex(space-around, center, column);
    @include bloc($color-bg);
    text-align: center;

    &__content{
        font-weight: $light;
        margin: $margin-content;
    }
}

section.fonctionnement {
    @include bloc ($white);

    div.steps {
        @include bloc__content;
    }
}

article.article1 {
    @include bloc ($color-bg);

    div.restaurants {
        @include bloc__content;
    }
}