
div.menu__content {

    @include bloc ($color-bg);
    border-radius: 35px 35px 0 0;
}

// Organisation des sections du menu en responsive

div.menu__content--sections {
    
    @include tablet-screen {
        @include flex (space-between, flex-start, row);
        flex-wrap: wrap;
        @include screen-max-width ($tablet-width);
    }

    @include desktop-screen {
        @include screen-max-width ($desktop-width);
    }
 
}

// Positionnement de l'image

.menu__img {

    position: relative;
    width: 100%;
    height: 280px;
    z-index: -1;

    img {
        object-fit: cover;
        position: fixed;
        height: 350px;
        width: 100%;
    }

}

// Positionnement du nom du restaurant

div.menu__title {

    @include flex(space-between, center, row);
    margin: auto;
    position: relative;
    width: 97%;

    @include tablet-screen {
        @include screen-max-width ($tablet-width);
        width: 97%;
    }

    @include desktop-screen {
        @include screen-max-width ($desktop-width);
    }
}

// Positionnement des sections du menu

section.section {

    @include flex(space-between, flex-start, column);
    margin: $margin-bloc-cards;

    @include tablet-screen {
        width: 47%;
     }

    @include desktop-screen {
        width: 31%;
    }
}

// Titre des sections du menu

.section__title {

    margin-bottom: 5px;

    &--underline {
        background-color: $color-tertiary;
        width: 40px;
        height: 3px;
    }
}

// Positionnement du boutton commandé

div.bloc__btn {

    @include flex;
}