
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$sans-serif: 'Roboto', Helvetica, sans-serif;
$serif: 'Shrikhand', serif; 

$light: 300;
$normal: 400;
$bold: 700;


body {
    font-family: $sans-serif;
    font-size: 1.1rem;
}

h1.logo__title {
    @include main_title;
    text-align: center;
    padding: 10px;
}

h1.menu__title {
    @include main_title;
}

main.main h2 {
    font-size: 1.5rem;
    font-weight: $bold;
    margin: 0 10px 10px 10px;
}


