// Load Spinner

@keyframes spinner {
    
    0%, 100% {
    transform:rotate(-180deg);
    opacity:0;
  }
  
  20% {
    transform: rotate(0);
    opacity:1;
  }
  
 
  30% {
    transform: rotate(150deg);
    opacity:0;
  }
}

@keyframes spinner-bg {
  
  65% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

// Menus

@keyframes fadein {

    0% {
        transform: translateY(70%);
        opacity: 0;
    }


    50% {
        opacity: 0.5;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
    
}