@mixin flex ($justify: center, $items: center, $direction: row) {
    display: flex;
    justify-content: $justify;
    align-items: $items;
    flex-direction: $direction;
}

@mixin main_title {
    font-family: $serif;
    font-size: 1.8rem;
    color: black;
}

@mixin second_title ($size) {
    font-family: $sans-serif;
    color: black;
    font-weight: $bold;
    font-size: $size;
}

@mixin bloc__content {
        @include flex(space-between, center, column);
        margin: $margin-content;
    }



@mixin bloc ($bg: $white) {
    background-color: $bg;
    padding: 30px 10px 30px 10px; 
}

// Responsive

@mixin tablet-screen {
    @media screen and (min-width:map-get($breakpoints, tablet)) {
        @content;
    }
    
}

@mixin desktop-screen {
    @media screen and (min-width:map-get($breakpoints, desktop)) {
        @content;
    }
}

@mixin screen-max-width ($screen) {
    max-width: $screen;
    margin: auto;
}


