// Couleurs

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-gradient: linear-gradient(0deg, $color-primary, $color-secondary);
$color-txt: #4d4d4d;
$color-bg: #f6f6f6;
$white: #fff;

// Radius

$card-radius: 20px;
$bloc-radius: 15px 15px;

// Cartes

$margin-bloc-cards: 15px 10px;
$margin-card: 10px 0;
$margin-top-cards: 30px;

// Responsive

$mobile-width: 480px;
$tablet-width: 992px;
$desktop-width: 1280px;

